@charset "utf-8"; /* M1LO10 Demonstrate the use of special characters from extended character sets */
/*
   CIS 155 
   MO4 Project V2
   Author: Joseph Karper
   Filename: styles.css

*/

/* Structural Styles */


html{
    background-color: rgb(151, 151, 151);
}  
header{
    background-color: rgb(243, 159, 159);
    border-radius: 0% 0% 9.60% 9.60%;
   
}
div.quote{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    position: relative;
    box-shadow: black 10% 10% 10% 40% /* M4LO5 Demonstrate the use of text or box shadowing */  
}
footer{
    background-color: rgb(29, 54, 24);
    border-radius: 20% 26% 0% 0%;
}

/* Navigation Styles */


header#horizontal{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* M3LO10 Demonstrate an overflow setting */
    background-color: #333333
}
li{
    float: left; /* M3LO2 Demonstrate floating elements   */
}
li a{
    display: inline;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;  
}
li a:hover{
    -webkit-backdrop-filter: drop-shadow(10% 10% 10% 10%);
    background-color: rgb(165, 151, 73);
    border-radius: 30% 30% 30% 30%; /* M4LO3 Demonstrate the use of rounded corners for borders  */
}

/* Section Styles */


.artImg{
    display: block;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.gondorImg{
    display: block;
    padding-left: auto;
    padding-right: auto;
    height: 40%;
    width: 40%;
    -webkit-backdrop-filter: opacity(0.6); /* M4LO6 Demonstrate the use of opacity/transparency for images */
}
.hobbitImg{
    display: block;
    padding-left: auto;
    padding-right: auto;
    height: 40%;
    width: 40%;
    border: 5px black;
}
.dwarvesImg{
    display: block;
    padding-left: auto;
    padding-right: auto;
    height: 48%;
    width: 33%;
    border: 5px black; 
}
.elvesImg{
    display: block;
    padding-left: auto;
    padding-right: auto;
    height:25%;
    width: 25%;
    border: 5px black; 
}
.quote{
    display: inline;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: auto;
    margin-block-end: auto;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Definition List Styles */