@charset "utf-8"; /* M1LO10 Demonstrate the use of special characters from extended character sets */
/*
   CIS 155 
   MO4 Project V2
   Author: Joseph Karper
   Filename: styles.css

*/

/* Structural Styles */


html{
    background-color: rgb(151, 151, 151);
}  
header{
    background-color: rgb(243, 159, 159);
    border-radius: 0% 0% 9.60% 9.60%;
   
}
div.quote{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    box-shadow: black 10% 10% 10% 10% /* M4LO5 Demonstrate the use of text or box shadowing */
}

/* Navigation Styles */


header#horizontal{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; /* M3LO10 Demonstrate an overflow setting */
    background-color: #333333
}
li{
    float: left; /* M3LO2 Demonstrate floating elements   */
}
li a{
    display: inline;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;  
}
li a:hover{
    -webkit-backdrop-filter: drop-shadow(10% 10% 10% 10%);
    background-color: rgb(165, 151, 73);
    border-radius: 30% 30% 30% 30%; /* M4LO3 Demonstrate the use of rounded corners for borders  */
}

/* Section Styles */


.artImg{
    display: block;
    padding-right: 30%;
 
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body#GondorImg{
    display: block;
    margin-left: 53%;
    margin-right: auto;
    width: 30%;
    height: 5%;
    -webkit-backdrop-filter: opacity(0.6); /* M4LO6 Demonstrate the use of opacity/transparency for images */
    background-size: 20% 46% ;
}
.quote{
    display: inline;
}
h1{
    display: inline-block;
    width: 45em;
    font-family: fantasy;
    position: relative; /* M3LO8B Demonstrate relative positioning */
}
p{
    display: inline-block;
}
/* Definition List Styles */