@charset "utf-8"; /* M1LO10 Demonstrate the use of special characters from extended character sets */
/*
   CIS 155 
   MO2 Project V1 
   Author: Joseph Karper
   Filename: styles.css

*/



/* Structural Styles */
html{
    background-color: hsl(60, 53%, 17%); /* M2LO15 Apply colors using CSS  */
}
header{
    background-color:hsl(39, 74%, 64%); 
    
}
header img{ /* M2LO12 Demonstrate how CSS can change presentation of page elements */
    position: inherit;
    width: 56%;
    display: flexbox;
    padding-left: 390px;      
} 
blockquote{
    text-align: center;
    color: black;
    text-emphasis: bolder;
    margin: 0px auto 0px;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* M2LO13 Demonstrate how CSS can change presentation of textual elements */   
}
ul {
    align-self: auto;
    block-size: 3px, 3px, 3px, 3px;
}
/* Navigation Styles */
#li{
    font-size: 1.3em;
    font-weight: bolder;
    color: black;
    
}
body > header nav{ /* M2LO5 Demonstrate contextual selectors */
    display: block;
    
}

/* Section Styles */

/* Definition List Styles */